@import "bootstrap";

$teal0: #13CEC8;
$teal1: #174D49;
$teal2: #277D7A;
$teal3: #C4F4F1;

$gray1: #1B1C1C;
$gray2: #414242;
$gray3: #989999;
$gray4: #ebecec;
$gray5: #fff;

$coral0: #FF6C4E;
$coral1: #551002;
$coral2: #A94C39;
$coral3: #FBD3CA;

