@teal0: #13CEC8;
@teal1: #174D49;
@teal2: #277D7A;
@teal3: #C4F4F1;

@gray1: #1B1C1C;
@gray2: #414242;
@gray3: #989999;
@gray4: #ebecec;
@gray5: #fff;

@coral0: #FF6C4E;
@coral1: #551002;
@coral2: #A94C39;
@coral3: #FBD3CA;

body{
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;
	color: @gray1;	
}

h1{
	color: @teal0;
	font-weight: bold;
	font-size: 5em;
}

// subtitles
h2{
	color: @gray3;
	font-style: italic;
	font-weight: 300;
	font-size: 2em;
}

h3 {
	color: @gray3;
	text-transform: lowercase;
	font-size: 3em;
}

//section title
h4{
	font-size: 4em;
}

p{
	font-weight: 300;
	font-size: 1.5em;
}