@teal0: #13CEC8;
@teal1: #174D49;
@teal2: #277D7A;
@teal3: #C4F4F1;

@gray1: #1B1C1C;
@gray2: #414242;
@gray3: #989999;
@gray4: #ebecec;
@gray5: #fff;

@cover: rgba(65,66,66,0.36);

@coral0: #FF6C4E;
@coral1: #551002;
@coral2: #A94C39;
@coral3: #FBD3CA;

@linkColor:#0973DB;

body{
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;
	color: @gray1;	
	font-size: 14px;
	font-weight: 300;

	@media(min-width:768px){
		font-size: 20px;
	}
}

h1{
	color: @teal0;
	font-weight: bold;
	font-size: 3.5em;
	margin-top: 190px;

	@media(max-width:768px){
		margin-top: 3em;
	}
}

// subtitles
h2{
	color: @gray3;
	font-style: italic;
	font-weight: 300;
	font-size: 1.4em;
	margin-top: 0px;
}

h3 {
	color: @gray3;
	text-transform: capitalize;
	font-size: 2.1em;
	margin-top: 0.5em;
}

//section title for article change
h4{
	font-size: 3em;
}

h5{
	font-weight: bold;
	font-size: 1.2em;
	// margin-top: 25px;

}

p{
	font-size: 1em;

	&.disclaimer{
		color:@gray3;
		font-size: 0.8em;
		// text-align: center;
	}
}

a{
	color: @coral0;

	&:hover{
		color: @coral2;
	}
}

.story{
	margin: 0px 20px;
}

#slide-1{
	@media (min-width:768px) {
		background-image: url("../../img/main-banner.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		.img-filter{
		background-color: @cover;
		margin: 0px;
		}
	}

	
	@media(max-width: 798px){
		height: 300px;
		-webkit-transition: height .35s ease;
        -o-transition: height .35s ease;
        transition: height .35s ease;

		#startImage{
			height: 300px;
		}
	}

	&.movingDown{
			height: 527px;
			-webkit-transition: height .35s ease;
            -o-transition: height .35s ease;
            transition: height .35s ease;
	}

	margin-top: 0px;
			-webkit-transition: margin-top .35s ease;
            -o-transition: margin-top .35s ease;
            transition: margin-top .35s ease;

	background-color: @teal0;
	margin-left: -15px;
	margin-right: -15px;
	position: relative;

	#title-info{
		position: absolute;
		top: 35%;
		margin-top: 0px;
		-webkit-transition: margin-top .35s ease;
        -o-transition: margin-top .35s ease;
        transition: margin-top .35s ease;

		&.movingDown{
			margin-top: 227px;
			-webkit-transition: margin-top .35s ease;
            -o-transition: margin-top .35s ease;
            transition: margin-top .35s ease;
		}
		// left: 40px;
	}
	// .navbar-bottom{
	// 	font-size: 1.2em;
	// 	border-top: 3px solid @gray4;
	// 	/* Firefox */
	// 	top: -moz-calc(~"100% - 70px");
	// 	/* WebKit */
	// 	top: -webkit-calc(~"100% - 70px");
	// 	/* Opera */
	// 	top: -o-calc(~"100% - 70px");
	// 	/* Standard */
	// 	top: calc(~"100% - 70px");

	// 	.navbar-right{
	// 		margin-top: 9px;
	// 	}
	// 	.btn-clear{
	// 			background-color: transparent;
	// 			border: 3px solid @gray4;
	// 			color: @gray4;
	// 			margin-top: 2px;

	// 	}

	// 	// .in{
	// 	// 	background-color: @teal1;
	// 	// }
			
	// }

	@media(max-width:768px){
		// ul{
		// 	text-align: right;
		// }
		li#contactMe{
			padding-right: 25px;
			padding-top: 3px;
			padding-bottom: 8px;
		}

		.navbar-bottom{
			/* Firefox */
		top: -moz-calc(~"100% - 53px");
		/* WebKit */
		top: -webkit-calc(~"100% - 53px");
		/* Opera */
		top: -o-calc(~"100% - 53px");
		/* Standard */
		top: calc(~"100% - 53px");
		margin-right: -22px;
		margin-left: -22px;
		}

		.nav>li{
			padding-right: 10px;
		}


	}

	h1{
		color: @gray5; 
		margin:0;
	}

	h2,a{
		color: @gray4;
	}

	a{
		&:hover{
			background-color: @gray2;
		}
	}

	.row{
		margin: 0px 15px;
	}

	// button.navbar-toggle{
	// 	border-color: @gray4;
	// 	span{
	// 		background: @gray4;
	// 	}

	// 	&:focus{

	// 	}
	// }

}

.home-section-title{
	text-align: center;
}

#slide-2{
	// position: relative;
	margin-top: 0px;
			-webkit-transition: margin-top .35s ease;
            -o-transition: margin-top .35s ease;
            transition: margin-top .35s ease;
	.skill-sets{
		text-align: center;
		margin-top: 15px;

		@media(max-width:768px){
			margin-bottom: 25px;

			h5{
				margin-top: 10px;
				margin-bottom: 5px;
			}
		}
	}
	.fa-5x{
		color: @teal0;
		font-size: 4em;
	}
	h5{
		margin-top: 30px;
	}

}

#slide-4{
	.company{
		color: @coral0;
		font-weight: normal;
	}

	.des-location{
		// margin-top: 15px;
		// font-size: 0.75em;
	}

	[class^="des-"]{
		font-size: 0.8em;
		color: @gray3;
		margin: 0px;
		@media(max-width:768px){
			font-size: 0.8em;
		}
	}

	.opp{
		margin: 20px 0px 45px;
	}

	h5{
		margin-bottom: 0px;
		margin-top: 0px;
	}

	h3{
		padding-left: 15px;
	}

	.description{
		@media(max-width: 992px){
			margin-top: 10px;
		}
	}
}
 .footer{
 	background-color: @gray1;
 	ul{
 		padding: 0px;
 	}
 	li{
 		position: relative;
 		display: inline-block;
 		margin-top: 10px;
 		padding-left: calc(~"12.5% - 0.75em");
 		padding-right: calc(~"12.5% - 0.75em");

 		a{
 			color: @gray4;
 		}
 	}
 }
#slide-3{
	margin: 0px -15px;
	overflow: hidden;

	#portfolio {
		margin: 0 auto;
		overflow: scroll;
		padding: 0;
		text-align: left;
		width: 100%;

		h5{
			font-weight: normal;
		}
		.row{
			margin: 0px;
			position: relative;
			left: 0px;
		}
		.col-12 {
			display: inline-block;
			height: 451px;
			margin: 0;
			padding: 0;
			width: 452px;
		}

		figure{
			position: relative;
			z-index: 1;
			display: inline-block;
			overflow: hidden;
			// width: 100%;
			// height: 100%;
			// background: #3085a3;
			// text-align: center;
			cursor: pointer;

			@media(max-width:768px){
				margin-bottom: 20px;
			}

			#figAStyling{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			a{
				z-index: 1000;
				text-indent: 200%;
				white-space: nowrap;
				font-size: 0;
				opacity: 0;
				#figAStyling;
			}

			@media(min-width:768px){

				figcaption{
					padding: 2em;
					bottom: 0px;
					font-size: 1.25em;
					color: @gray5;
		            -webkit-backface-visibility: hidden;
					backface-visibility: hidden;
					#figAStyling;

					p{
						position: absolute;
						bottom: 0;
						line-height: 1.1em;
						border-top: 1px solid @gray5;
						// color: @gray5;
					}

					//animation
					&::before{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						content: '';
						opacity: 0;
						-webkit-transform: translate3d(0,50%,0);
						transform: translate3d(0,50%,0);
						background: @cover;
					 	#Effects;
		
					}


					#Effects{
						-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
						transition: opacity 0.35s, transform 0.35s;
					}

					p{
						#Effects;
						position: absolute;
						bottom: 0;
						left: 1em;
						padding: 1em;
						width: calc(~"100% - 2em");
						opacity: 0;
						-webkit-transform: translate3d(0,10px,0);
						transform: translate3d(0,10px,0);
					}
				}

				&:hover figcaption::before, &:hover p{
					opacity: 1;
		            -webkit-transform: translate3d(0,0,0);
		            transform: translate3d(0,0,0);
				}

			}

		}		
		img {
			display: block;
			height: 100%;
			margin: 0 auto;
			width: 100%;
			position: relative;
		}

		@media (max-width: 991px) {
			text-align: center;
			width: 100%;
		
			.row {
				left: 0 !important;
				margin: 0;
				width: 100% !important;
			}
			
			.col-12 {
				height: auto;
				width: 50%
			}

			a,
			img {
				height: auto;
				max-height: 100%;
				max-width: 100%;
				width: auto;
			}
		}
	}
	#controls{
		float:right;
		margin-right: 15px;
		margin-top: 10px;

		button{
			font-weight: normal;
			font-size: inherit;
			 outline: none;
		  	border: none !important;
		    -webkit-box-shadow: none !important;
		    -moz-box-shadow: none !important;
		  	box-shadow: none !important;
		  	color: @teal0;

				&:active{
					color: @teal2;
				}


			&.inactive{
			color: @gray4;
			cursor: inherit;

				// &:active{
				// 	color: @teal2;
				// }
			}

		}
	}

}

#contactMeModal{
	.modal-content{
		text-align: center;
	}

	.modal-header{
		h1{
			margin-top: 30px;
		}
		border:none;
		padding-bottom: 0px;
		
	}

	.modal-body{
		padding-top: 0px;
		margin-bottom: 45px;
	}
}

.btn-primary{
	background-color: @teal0;
	border-color: @teal2;

	&:hover, &:focus{
		background-color: @teal2;
	}


}
.navbar-fixed-top{
	background: rgba(255,255,255,0.85);
	padding: 10px 17px 5px 17px;
	/* Rectangle 2: */
    -moz-box-shadow:    0px 2px 3px 0px rgba(152,153,153,0.33);
	box-shadow:         0px 2px 3px 0px rgba(152,153,153,0.33);
	-webkit-transition: background 0.55s ease;
	transition: background 0.55s ease;

	@media(max-width:798px){
		padding:0;

		li a{
			padding-right: 25px;
		}
	}

	.navbar-left{
		margin-left: -15px;
		li a{
			padding-left: 0;
		}
	}

	a{
		color: @gray1;
		font-weight: normal !important;

		&:hover{
			background-color: transparent !important;
			color: @coral2;
		}
	}

	.active{
		color: @coral0 !important;
	}

	button.navbar-toggle{
		
		span{
			background: @gray1;
		}
	}

	li#contactMe{
		margin-top: 7px;
		margin-left: 9px;
	}

	li.active{
		a{
			padding-left: 0px;
		}
	}

	&.navbar-clear{
	background: rgba(65,66,66,.4);
	box-shadow: none;
	-webkit-transition: background 0.35s ease;
	transition: background 0.35s ease;
		a {
			color: @gray4;

			&:hover{
				color: @coral0;
			}
		}

		.btn-primary{
			background-color: transparent;
			border: 1px solid @gray4;
			color: @gray4;
	

		}

		&.darker{
			background: rgba(65,66,66,.75);
			box-shadow: none;
			-webkit-transition: background 0.35s ease;
			transition: background 0.35s ease;
		}

		button.navbar-toggle{
		
			span{
				background: @gray4;
			}
		}

	}
}

// #portfolio-pieces.navbar-bottom{
// 	.navbar-fixed-top;
// 	    -moz-box-shadow:    none;
// 	box-shadow:         none;
// }

.portfolio-pieces{
	text-align: center;
}

.portfolio{
	margin:0 20px;
	.title{
		@media(min-width:992px){
			margin-left: 5em;
		} 
		@media(min-width: 768px){
			margin-left: 2em;
		}
		
	}

	.portfolio-story{
		position: relative;
		// top:300px;

	}

	h4{
		text-align: center;
	}
}

@media(min-width: 768px){
	.img-right{
		float: right;
		margin-right: -56px;
	}
	.img-left{
		// float: right;
		margin-left: -56px;
	}
}

//parallax
[id^="portfolio-cover-img-"]{
		background-repeat: no-repeat;
		background-position: center top;
		height:450px;

		@media(max-width:768px){
			background-size: contain;
		}

	p{
		display: none;

	}
}

#portfolio-cover-img-android{
	background-image: url("/assets/img/bc-android/newapp.png");
}

#portfolio-cover-img-infiniteScroll{
	background-image: url("/assets/img/bc-infiniteScroll/infinitescrolltab.png");
	width:100%;
}

#portfolio-cover-img-alert{
	background-image: url("/assets/img/mongo-alerts/uiMac.png");
}

#portfolio-cover-img-diaryStudy{
	background-image: url("/assets/img/bc-research/diary.jpg");
}

#portfolio-cover-img-timeline{
	background-image: url("/assets/img/mongo-timeline/timeline-browser.png");
}

#portfolio-cover-img-finder{
	background-image: url("/assets/img/finder/finder-cover-image.png");
}

#portfolio-cover-img-serendipity{
	background-image: url("/assets/img/serendipity/air-balloon.png");
}
.section{
	margin-top: 3em;	
}

.sub-section{

	margin-top: 3em;
	@media(min-width:992px){
		display: flex;
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	 	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	 	display: -ms-flexbox;      /* TWEENER - IE 10 */
	 	display: -webkit-flex; 
		align-items:center;
		align-content:center;

	}

	// .text{
	// 	@media(min-width:992px){
	// 		margin-top: 20%;
	// 	}
		
	// }

	// .text-left{
	// 	text-align: right;
	// }
}

#about-project{
	margin-top: 80px;
}

#other-works{
	position: relative;
	margin-bottom: 100px;
	margin-top: 200px;
	border-top: 1px solid @gray4;
	h4{
		font-weight: 300;
		font-size: 1.7em;
		color: @gray1;
		text-align: left;

	}

	h1{
		margin-bottom: 30px;
		// font-weight: normal;
		margin-top: 90px;
		margin-bottom:50px;
		font-size: 2em;
	}
	.other-works-name{
		@media(min-width:992px){
			position: absolute;
		bottom:0;
		left: 50%;

		}
	}
}

// .navbar-bottom#portfolio-pieces{
// 	border-bottom: 1px solid @gray4;
// }

.header, .content {
	background:#fff;
	padding:1em;

	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.content-full {
	height:100%;
}

#done {
	height:100%;
}

#infiniteScroll{
	#original{
		margin-top: 3em;
	}
}

@media(max-width:768px){
	ul.nav{
		text-align: right;

		// li{
		// 	padding-right: 17px !important;
		// }
	}
}

span.line{
	border-bottom: 1px solid @gray4;
	opacity: 0.65;
	margin: 7px;
}

.text-right{
	@media(max-width:768px){
		text-align: left;
	}
}

// .img-responsive{
// 	width:100%;
// 	display: block;
// }

#other-works{
	a:hover{
		text-decoration: none;

		h4{
			color:@coral2;
		}
	}
}

.persona{
	height: 300px;
	width: 100%;
	// overflow: hidden;
	float: left;
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url("/assets/img/finder/ashley.jpg");

	p{
		display: none;
	}

}

#user-research{
	h5{
		margin-top: 45px;

		&#name{
			@media(min-width: 992px){
				margin-top: 0px;
			}
			
		}
	}
}

.img-center{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe{
	overflow: hidden;
}

.gray{
	color: @gray3;
	font-weight: 300;
}