@teal0: #13CEC8;
@teal1: #174D49;
@teal2: #277D7A;
@teal3: #C4F4F1;

@gray1: #1B1C1C;
@gray2: #414242;
@gray3: #989999;
@gray4: #ebecec;
@gray5: #fff;

@coral0: #FF6C4E;
@coral1: #551002;
@coral2: #A94C39;
@coral3: #FBD3CA;

@linkColor:#0973DB;

body{
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;
	color: @gray1;	
}

h1{
	color: @teal0;
	font-weight: bold;
	font-size: 5em;
	margin-top: 190px;
}

// subtitles
h2{
	color: @gray3;
	font-style: italic;
	font-weight: 300;
	font-size: 2em;
	margin-top: 0px;
}

h3 {
	color: @gray3;
	text-transform: lowercase;
	font-size: 3em;
}

//section title for article change
h4{
	font-size: 4em;
}

p{
	font-weight: 300;
	font-size: 1.5em;
}

a{
	color: @linkColor;
}

.story{
	margin: 0px 20px;
}

#slide-1{
	background: url("../../img/test.jpg");
	.img-filter{
		background-color: rgba(65,66,66,0.36);
		margin: 0px -15px;
	}

	h1{
		color: @gray5;
	}

	h2, a{
		color: @gray4;
	}

	a:hover{
		background-color: @gray2;
	}

	.row{
		margin: 0px 15px;
	}

}

.home-section-title{
	text-align: center;
}

i.fa-5x{
	text-align: center;
	color: @coral0;
}


